# Python
__pycache__/
*/__pycache__/*

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Log files from web scraping
log/

# PDBs
!PDBs/*
PDBs/*/*

## APD3
!PDBs/APD3_releases/APD3*.csv

## CancerPPD
!PDBs/CancerPPD_releases/CancerPPD*.csv

## DBBASP
!PDBs/DBBASP_releases/DBBASP*.csv

## FermFooDb
!PDBs/FermFooDb_releases/FermFooDb*.csv

## MAHMI
!PDBs/MAHMI_releases/MAHMI*.csv

## PepBDB
!PDBs/PepBDB_releases/PepBDB*.csv

## THPdb
!PDBs/THPdb_releases/THPdb*.csv
