# R
.RData
.Rhistory

# Python
__pycache__/
*/__pycache__/*

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Log files from web scraping
log/

# PDBs
!PDBs_releases/*
PDBs_releases/*/*

## APD3
!PDBs_releases/APD3/APD3*.csv

## CancerPPD
!PDBs_releases/CancerPPD/CancerPPD*.csv

## DBBASP
!PDBs_releases/DBBASP/DBBASP*.csv

## FermFooDb
!PDBs_releases/FermFooDb/FermFooDb*.csv

## LBQCPDB
!PDBs_releases/LBQCPDB/LBQCPDB*.csv

## MAHMI
!PDBs_releases/MAHMI/MAHMI*.csv

## PepBDB
!PDBs_releases/PepBDB/PepBDB*.csv

## THPdb
!PDBs_releases/THPdb/THPdb*.csv
